{% extends 'base.html' %}
{% load static %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <center><strong>Message: </strong>{{ message }}</center>
        </div>
        {% endfor %}
        {% endif %}
        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="cart-page-inner">
                            <div class="table-responsive">
                                {% for date in cart_total %}
                                    <div class='mb-3' style="text-align:right;"><b>Date</b>: {{date.date_checked|date:"d F, Y"}}</div>
                                {% endfor %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.N</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for item in cart_product %}
                                        <tr>
                                            <td>
                                                {{forloop.counter}}.
                                            </td>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{item.products.image.url}}" style="height:40px;" alt="Image"></a>
                                                    <span><b>{{item.products.name}}</b></span>
                                                </div>
                                            </td>
                                            {% if item.products.discount > 0 %}
                                                <td>Rs.{{item.products.discounted_price}}</td>
                                            {% else %}
                                                <td>Rs.{{item.products.price}}</td>
                                            {% endif %}
                                            <td>
                                                {{item.quantity}}
                                            </td>

                                            <td>
                                            Rs.{{ item.total }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <hr>
                                        <div class style="text-align:right;">
                                            {% for i in cart_total%}
                                            <p>Net Total - <span>Rs. {{ i.net_total}}</span></p>
                                            <hr>
                                            <p>Shipping Cost - <span>Rs. {{ i.shipping_cost }}</span></p>
                                            <hr>
                                            <p><b>Grand Total</b> - <span><b>Rs. {{ i.grand_total }}</b></span></p>
                                            {% endfor %}
                                        </div>
                            </div>
                        </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                            <label class="custom-control-label" for="payment-1">Paypal</label>
                                        </div>
                                        <div class="payment-content" id="payment-1-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            <label class="custom-control-label" for="payment-2">Payoneer</label>
                                        </div>
                                        <div class="payment-content" id="payment-2-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                            <label class="custom-control-label" for="payment-3">Check Payment</label>
                                        </div>
                                        <div class="payment-content" id="payment-3-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                            <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                                        </div>
                                        <div class="payment-content" id="payment-4-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Shipping Address</h2>
                                <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input name ="first_name" class="form-control" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                        <input name="last_name" class="form-control" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input name="email" class="form-control" type="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mobile No</label>
                                        <input name="mobile_no" class="form-control" type="number" placeholder="Mobile No">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Shipping Address</label>
                                        <input name="shipping_add" class="form-control" type="text" placeholder="Shipping Address">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input name="zip_code" class="form-control" type="number" placeholder="ZIP Code">
                                    </div>
                                    <div class="col-md-12"><a href="/"><button class="btn" type="submit">Place your order</button></a></div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->
{% endblock %}
